<!DOCTYPE html>
<html lang="en" data-ng-app="BeMEAN">
	<head>
		<meta charset="utf-8">
		<title>Aula 07 - angular</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
		<style type="text/css">
			.wrapper {
				max-width: 800px;
				margin: 0 auto;
			}
		</style>
	</head>

	<body data-ng-controller="UserController as User">

		<section class="row wrapper">
			<h1>{{ User.titulo }}</h1>

			<p class="col s12">
				<label>
					<input type="text" data-ng-model="User.form.name" placeholder="Name:">
				</label>
				<br>
				<label>
					<input type="email" data-ng-model="User.form.email" placeholder="Email:">
				</label>
			</p>

			<button data-ng-click="User.add(User.form)" class="btn btn-large green waves-effect waves-light col s6" type="submit" name="action">ADD</button>
			
			<button data-ng-click="User.save(User.form)" class="btn btn-large blue waves-effect waves-light col s6" type="submit" name="action">SAVE</button>

			<span data-ng-init="predicate = 'name'; reverse = false"></span>

			<table>				
				<thead>
					<tr>
						<th colspan="{{ User.keysLength + 2 }}">
							<label>
								<input type="text" ng-model="searchUser" placeholder="Buscar:">
							</label>
						</th>
					</tr>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Email</th>
						<th></th>
						<th></th>
					</tr>					
				</thead>

				<tbody>
					<tr ng-repeat="user in User.users | filter:searchUser">

						<td>
							<input type="checkbox" id="user-{{$index}}" ng-model="user.selecionado" />
							<label for="user-{{$index}}"></label>
						</td>
						
						<td>{{ user.name }}</td>
						<td>{{ user.email }}</td>

						<td>
							<button data-ng-click="User.removeByEmail(user.email)" class="btn btn-large red waves-effect waves-light col s12" type="submit" name="action">DELETE</button>
						</td>
						<td>
							<button data-ng-click="User.edit(user, $index)" class="btn btn-large blue waves-effect waves-light col s12" type="submit" name="action">EDIT</button>
						</td>
					</tr>
				</tbody>
			</table>			
			<button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s12">Remove</button>

		</section>


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

		<script type="text/javascript">

			angular.module("BeMEAN",[])
				.filter("searchUser", function(){
					return function(text) {

					}
				})
				.controller("UserController", UserController);

			function UserController(){
				var vm = this;

				vm.titulo = "Lista de Usuários";				

				vm.users = [
					{name: "Ju Dantas", email: "juds@gmail.com"},
					{name: "Cicraninho", email: "cicicranono@asdeasdasd.com"},
					{name: "Fulano", email: "fulanoo123@lalala.com"}
				];

				function getKeyLenght() {
					return Object.keys(angular.copy(vm.users[0])).length;
				}

				vm.keysLength = getKeyLenght();

				vm.add = add;
				function add(user){
					vm.users.push(angular.copy(user));
				}

				vm.removeByEmail = removeByEmail;
				function removeByEmail(email){
					vm.users = vm.users.filter(function(el){ return el.email !== email });
				}

				vm.remove = remove;
				function remove(users){
					vm.users = users.filter(function(el){ return !el.selecionado  })
				}

				vm.edit = edit;
				function edit(user, index){
					vm.form = angular.copy(user);
					vm.form.index = index;
				}

				vm.save = save;
				function save(user){
					var users = vm.users.map(function(el, i){
						if (i === user.index) {
							delete user.index;
							return user;
						}
						return el;
					});
					vm.users = users;
				}

			}

		</script>

	</body>
</html>