<!DOCTYPE html>
<html lang="en" ng-app="BeMEAN">
	<head>
		<meta charset="utf-8">
		<title>Aula 05 -angular</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>

	<body data-ng-controller="UserController as User">

		<button ng-click="User.addUser(form.User)">Adicionar usuario</button>

		<label>Nome: <input ng-model="form.User.name"></label>
		<label>Email: <input ng-model="form.User.email"></label>

		<span data-ng-init="predicate = 'name'; reverse = false;"></span>
		<table>
			
			<thead>
				<tr>
					<th ng-repeat="(key, value) in User.users[0]">{{ key }}</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="user in User.users | orderBy:predicate">
					<td ng-repeat="(key, value) in user">{{ value }}</td>
				</tr>
			</tbody>
		</table>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script type="text/javascript">

			angular.module("BeMEAN", [])
				.controller("UserController", UserController);

			function UserController(){
				var vm = this;

				vm.addUser = addUser;
				vm.users = [];

				function addUser(user){
					vm.users.push({name: user.name, email: user.email});
				}

			}

			UserController['$inject'] = ['$scope'];

		</script>
	</body>

</html>