<!DOCTYPE html>
<html lang="en" ng-app="BeMEAN">
	
	<head>
		<meta charset="utf-8">
		<title>Aula 03 - angular</title>
		<link rel="stylesheet" href="../css/style.css">		
	</head>

	<body data-ng-controller="UserController as User">

		<h1>{{ User.titulo }}</h1>

		<ul>
			<li ng-repeat="user in User.users">
				{{user.name}} - {{ user.email }}
			</li>
		</ul>

		<div data-ng-controller="CursoController as Curso">

			<h1>{{ Curso.titulo }}</h1>

			<ul>
				<li ng-repeat="curso in Curso.cursos">
					{{curso.name}} - {{ curso.teacher }}
				</li>
			</ul>
			
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

		<script type="text/javascript">
			
			angular.module("BeMEAN",[])
				.controller('UserController', UserController)
				.controller('CursoController', CursoController);

			function UserController() {
				var vm = this;

				vm.titulo = "Be MEAN - Usuários";
				vm.users = [
					{name: 'Ju Dantas', email: 'juds@gmail.com'},
					{name: 'Teste', email: 'teste@teste.com.br'},
					{name: 'Usuario', email: 'user@user.com'}
				]
			}

			UserController['$inject'] = ['$scope'];

			function CursoController() {
				var vm = this;
				
				vm.titulo = "Be MEAN - Cursos";
				vm.cursos = [
					{name: 'Be MEAN', teacher: 'juds@gmail.com'},
					{name: 'Learning Machine', teacher: 'teste@teste.com.br'},
					{name: 'Laravel', teacher: 'user@user.com'}
				]
			}

			CursoController['$inject'] = ['$scope'];

		</script>		
	</body>
</html>